/ROV_diver_comparison/report/

# -----------------------------------------------------------------------------
# LaTeX build files to ignore
# -----------------------------------------------------------------------------
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lof
*.lot
*.lol
*.nav
*.snm
*.maf
*.mtc
*.mtc0

# -----------------------------------------------------------------------------
# Editor/IDE specific files
# -----------------------------------------------------------------------------
*.swp
*.swo
*~
.DS_Store
Thumbs.db
.vscode/
.idea/

# -----------------------------------------------------------------------------
# Output files
# -----------------------------------------------------------------------------
*.dvi
*.ps
*.Rhistory

# -----------------------------------------------------------------------------
# Build directories (e.g., if using latexmk, texlive, or Overleaf local)
# -----------------------------------------------------------------------------
latex.out/
build/

# -----------------------------------------------------------------------------
# Custom folders to ignore (for now)
# -----------------------------------------------------------------------------

data_output/patches/
results/patches/
/ROV_diver_comparison/report